<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quick Flickr</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import Javascript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <!--Import materialize.css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet" />
</head>
<!--Background color-->
<body style="background-color:#DCDCDC;">

<!--CSS code-->
<style type="text/css">
    .OutlineTextBlack {
        text-shadow:
            /* Outline */
                -1px -1px 0 #000000,
                1px -1px 0 #000000,
                -1px 1px 0 #000000,
                1px 1px 0 #000000,
                -2px 0 0 #000000,
                2px 0 0 #000000,
                0 2px 0 #000000,
                0 -2px 0 #000000; /* Terminate with a semi-colon */
    }

</style>
<!--JQuery scripts-->
<script>

    /* Code to animate logo on mouse hover */
    $(function () {
        $(".playgif").hover(function () {
            var stat = $(this).find("img").attr("src");
            $(this).find("img").attr("src", $(this).find("img").data("swap"));
            $(this).find("img").data("swap", stat);
        })
    });


    /*Code to expand images on click*/
    $(document).ready(function(){
        $('.materialboxed').materialbox({
            inDuration:275,
            outDuration:200,
            onOpenStart: function() {console.log("onOpenStart");},
            onOpenEnd: function() {console.log("onOpenEnd");},
            onCloseStart: function() {console.log("onCloseStart");},
            onCloseEnd: function() {console.log("onCloseEnd");}
        });
    });
</script>

<!--Navigation bar-->
<nav class="nav-extended animate playgif pink darken-4">
    <div class="nav-wrapper">
        <div class="brand-logo center">

            <!--Quick Flickr Logo--     vv Hover Image vv           vv Non-Hover Image vv       -->
            <img data-swap="https://i.imgur.com/cbqLtwM.gif" src="https://i.imgur.com/LqAtNLS.gif" width="300" height="200"/>

        </div>
        <ul class="left hide-on-med-and-down">
            <li><a href="/" class="OutlineTextBlack green-text text-accent-3"><b>Home Search</b></a></li>
            <li><a href="/" class="OutlineTextBlack green-text text-accent-3"><b>Find Saved Photos</b></a></li>
        </ul>
    </div>
    <div class="nav-content animate playgif">
        <span class="nav-title"></span>
    </div>
</nav>

{% block content %}

{% endblock %}

</body>
</html>