{%  extends "base.html" %}

{% block content %}

    <h1>Welcome to Quick Flickr</h1>

    <h2>Enter a search term:</h2>
    <form action="/search" method="GET">

        Search: <input type="text" name="search"><br>

        <input type="submit" value="Go">
    </form>


    <!--<div class="container">
    <p class="flow-text OutlineTextBlack green-text text-accent-3"><b>Search for Flickr Images</b></p>
    <div class="row">
        <form class="col s6">
            <div class="row">
                <div class="input-field col-6 white-text">

                </div>
                <a class="waves-effect waves-light btn pink darken-2 OutlineTextBlack white-text"><b>Find Images</b></a>
            </div>
        </form>
    </div>-->

    <!--Image cards/rows-->
        <div class="row">
            <div>
                <div class="card medium col m4 grey lighten-3">
                    <div class="card-image z-depth-2">
                        <img class="materialboxed" src="https://farm5.staticflickr.com/4099/4770764875_b2b7e3a1c5_b.jpg">
                    </div>
                    <div class="card-content blue lighten-4">
                        <p>Photo info can be displayed here</p>
                        <a class="waves-effect waves-light btn pink darken-2 OutlineTextBlack white-text"><b>Save</b></a>
                    </div>
                </div>
                <div class="card medium col m4 grey lighten-3">
                    <div class="card-image z-depth-2">
                        <img class="materialboxed" src="https://farm8.staticflickr.com/7103/7208998096_5f8ca185ab_b.jpg">
                    </div>
                    <div class="card-content pink accent-1">
                        <p>Photo info can be displayed here</p>
                        <a class="waves-effect waves-light btn blue darken-2 OutlineTextBlack white-text"><b>Save</b></a>
                    </div>
                </div>
                <div class="card medium col m4 grey lighten-3">
                    <div class="card-image z-depth-2">
                        <img class="materialboxed" src="https://farm6.staticflickr.com/5615/15543275750_b99dea175c_b.jpg">
                    </div>
                    <div class="card-content blue lighten-4">
                        <p>Photo info can be displayed here</p>
                        <a class="waves-effect waves-light btn pink darken-2 OutlineTextBlack white-text"><b>Save</b></a>
                    </div>
                </div>
                <div class="card medium col m4 grey lighten-3">
                    <div class="card-image z-depth-2">
                        <img class="materialboxed" src="https://farm4.staticflickr.com/3038/2581308650_2d42932dc8_b.jpg">
                    </div>
                    <div class="card-content pink accent-1">
                        <p>Photo info can be displayed here</p>
                        <a class="waves-effect waves-light btn blue darken-2 OutlineTextBlack white-text"><b>Save</b></a>
                    </div>
                </div>
                <div class="card medium col m4 grey lighten-3">
                    <div class="card-image z-depth-2">
                        <img class="materialboxed" src="https://farm3.staticflickr.com/2805/11101708996_ecf06b8f6f_b.jpg">
                    </div>
                    <div class="card-content blue lighten-4">
                        <p>Photo info can be displayed here</p>
                        <a class="waves-effect waves-light btn pink darken-2 OutlineTextBlack white-text"><b>Save</b></a>
                    </div>
                </div>
                <div class="card medium col m4 grey lighten-3">
                    <div class="card-image z-depth-2">
                        <img class="materialboxed" src="https://farm8.staticflickr.com/7367/8855213583_8f4a111692_k.jpg">
                    </div>
                    <div class="card-content pink accent-1">
                        <p>Photo info can be displayed here</p>
                        <a class="waves-effect waves-light btn blue darken-2 OutlineTextBlack white-text"><b>Save</b></a>
                    </div>
                </div>
            </div>
        </div>


    <!--Saved photos-->
    <div class="container">
        <p class="flow-text OutlineTextBlack green-text text-accent-3"><b>Recently Saved Photos</b></p>
    </div>

{% endblock %}