{%  extends "base.html" %}

{% block content %}
<a name="top"></a>
<div class="OutlineTextBlack green-text text-accent-3">
<h1>Flickr Results</h1><br>
    {% for data in flickr %}
        <form method="POST" action="/upload">
        <img src="{{ data.link }}">
        <input type="hidden" name="data" value="{{ data }}"><br>
        Name for this photo?: <input type="text" name="name">
        <button type="submit">Save</button>
        </form>
    {% endfor %}
</div>

    <a href="#top">Back To Top</a>

<div class="OutlineTextBlack green-text text-accent-3">
<h1>Giphy Results</h1><br>

    {% for data in giphy %}
        <form method="POST" action="/upload">
        <img src="{{ data.link }}">
        <input type="hidden" name="data" value="{{ data }}"><br>
        Name for this photo?: <input type="text" name="name">
        <button type="submit">Save</button>
        </form>
    {% endfor %}
</div>

    <a href="#top">Back To Top</a>

<div class="OutlineTextBlack green-text text-accent-3">
<h1>Unsplash Results</h1><br>
    {% for data in unsplash %}
        <form method="POST" action="/upload">
        <img src="{{ data.link }}">
        <input type="hidden" name="data" value="{{ data }}"><br>
        Name for this photo?: <input type="text" name="name">
        <button type="submit">Save</button>
        </form>
    {% endfor %}
</div>

<a href="#top">Back To Top</a>

{% endblock %}