{%  extends "base.html" %}

{% block content %}

<h1>Flickr Results</h1><br>
    {% for link in links1 %}
        <form method="POST" action="/upload">
        <img src="{{ link }}">
        <input type="text" name="data" value="{{ link }}">
        <button type="submit" value="{{ link }}">Save</button>
        </form>

    {% endfor %}

<h1>Giphy Results</h1><br>
    {% for link in links2 %}
        <form method="POST" action="/upload">
        <img src="{{ link }}">
        <input type="hidden" name="data">
        <button type="submit" class="button">Save</button>
        </form>
    {% endfor %}

<h1>Unsplash Results</h1><br>
    {% for link in links3 %}
        <form method="POST" action="/upload">
        <img src="{{ link }}">
        <input type="hidden" name="data">
        <button type="submit" class="button">Save</button>
        </form>
    {% endfor %}

{% endblock %}